<launch>
  <arg name="urdf" default="$(find pioneer_hokuyo_description)/urdf/pioneer3at.urdf" />
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0.5" />
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/
  <arg name="name" default="pioneer3at_robot" />
  <include file="$(find pioneer_hokuyo_gazebo)/spawn.launch">
	<arg name="urdf" value="$(arg urdf)" />
	<arg name="x" value="$(arg x)" />
	<arg name="y" value="$(arg y)" />
	<arg name="z" value="$(arg z)" />
  <arg name="roll" value="$(arg roll)" />
  <arg name="pitch" value="$(arg pitch)" />
  <arg name="yaw" value="$(arg yaw)" />

  </include>
</launch>
